{%- comment -%}
  menu_blocks
  menu_splits
  bk_stts.lazy_mn and admin_sp == false
{%- endcomment -%}

{%- liquid
  assign root_url = routes.root_url
  assign showArrow = se_stts.arrow
  assign request_path = request.path-%}

<nav class="sr4-navigation sr4-text-{{se_stts.align}} sr4-nav__{{se_stts.hover}} sr4-nav-arrow__{{se_stts.arrow}}">
  <ul
    data-menu-nav
    id="sr4-nav-ul"
    class="sr4-nav__ul sr4-d-inline-flex sr4-flex-wrap sr4-align-items-center">
    {%- for block in se_blocks -%}
      {%- liquid
        assign bk_stts = block.settings
        assign blockID = block.id
        assign bk_link = bk_stts.url
        assign bk_link_split = bk_link | split: '?' | first
        if request_path == bk_link_split and bk_link != blank
          assign class_active = 'is--nav__active'
        else
          assign class_active = ''
        endif
        if bk_link == '/' or bk_link == blank
          assign bk_link = root_url
        endif
      -%}
      
      {%- case block.type -%}
        {% when 'app' %}
        njnji
        {%- when 'mega' -%}
          <li
            id="item_{{blockID}}"
            data-placement="{{bk_stts.pos_sub | default:placement}}"
            class="sr4-type__{{block.type}} menu-width__{{bk_stts.wid}} sr4-menu-item has--children menu-has__offsets {{class_active}}"
            {{ block.shopify_attributes }}>
            <a
              class="sr4-lh-1 sr4-d-flex sr4-align-items-center sr4-pr"
              href="{{bk_link}}"
              target="{{bk_stts.open_link}}"
              {% if bk_stts.cus_cl %}
              style="color:{{bk_stts.cl}}"
              {% endif %}>{%- render 'title_menu'
, bk_stts: bk_stts
, showArrow: showArrow -%}</a>
            <div id="content_{{blockID}}" class="sr4-sub-menu sr4-pa sr4-op-0 sr4-pe-none sr4-current-scrollbar">
              <div
                class="sr4-container"
                {% if bk_stts.wid != 'full nav_t4cnt' %}
                style="width:{{bk_stts.cus_wid}}px"
                {% endif %}>
                <div
                  class="sr4-row sr4-gx-{{bk_stts.r_s_h_item}} sr4-gy-{{bk_stts.r_s_v_item}} sr4-lazy_menu{% if bk_stts.enable_packery %} isotopesr4 isotopesr4-later{% endif %}"
                  data-id="{{bk_stts.id}}"
                  data-isotopesr4-js='{ "itemSelector": ".sr4-sub-column-item", "layoutMode": "packery","gutter": 0 }'>
                  <div class="sr4-loading--bg"></div>
                </div>
              </div>
            </div>
          </li>

        {%- when 'drop' -%}
          <li
            id="item_{{blockID}}"
            data-placement="{{bk_stts.pos_sub | default:placement}}"
            class="sr4-type__{{block.type}} sr4-menu-item has--children menu-has__offsets menu-pos__{{bk_stts.pos}} {{class_active}}"
            {{ block.shopify_attributes }}>
            <a
              class="sr4-lh-1 sr4-d-flex sr4-align-items-center sr4-pr"
              href="{{bk_link}}"
              target="{{bk_stts.open_link}}"
              {% if bk_stts.cus_cl %}
              style="color:{{bk_stts.cl}}"
              {% endif %}>{%- render 'title_menu'
, bk_stts: bk_stts
, showArrow: showArrow -%}</a>
            {%- if linklists[bk_stts.menu].links.size > 0 -%}
              <div id="content_{{blockID}}" class="sr4-sub-menu sr4-pa sr4-op-0 sr4-pe-none">
                {%- if admin_sp == false -%}
                  <div class="sr4-lazy_menu" data-handle="{{bk_stts.menu}}">
                    <div class="sr4-loading--bg"></div>
                  </div>
                {%- else -%}
                  <div class="sr4-lazy_menu">{%- render 'menu_dropdown'
, handle_menu: bk_stts.menu -%}</div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </li>

        {%- else -%}
          <li
            id="item_{{blockID}}"
            class="sr4-type__simple sr4-menu-item {{class_active}}"
            {{ block.shopify_attributes }}>
            <a
              class="sr4-lh-1 sr4-d-flex sr4-align-items-center sr4-pr"
              href="{{bk_link}} "
              target="{{bk_stts.open_link}}"
              {% if bk_stts.cus_cl %}
              style="color:{{bk_stts.cl}}"
              {% endif %}>{%- render 'title_menu'
, bk_stts: bk_stts
, showArrow: false -%}</a>
          </li>

      {%- endcase -%}

    {%- endfor -%}
  </ul>
</nav>