{%- assign image = post.image -%}
<article class="sr4-col-item sr4-post sr4-post-item sr4-post-des-4">
  <div class="sr4-post-inner">
    {%- if image != blank -%}
      <div class="sr4-post-thumb">
        <a class="sr4-eff sr4-eff-{{b_effect}} sr4-eff-img-{{img_effect}} sr4-d-block" href="{{post.url}}">
          <div
            class="sr4_ratio sr4-bg-11"
            style="background: url({{image | image_url: width: 1}});--aspect-ratioapt: {{image.aspect_ratio | default: 2}}"
            data-cacl-slide>
            <img
              class="lazyloadsr4 sr4-lz--fadeIn sr4-obj-eff"
              data-src="{{ image | image_url: width: 1 }}"
              data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
              data-optimumx="2"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              width="{{ image.width }}"
              height="{{ image.height }}"
              alt="{{ image.alt | escape }}">
          </div>
        </a>
        {%- if show_cate -%}
          {%- assign post_tags = post.tags | join: ';' | split: ';' -%}
          {%- assign tag_category = post_tags | where: 'category_' | first -%}
          <div class="sr4-categories">
            {%- if tag_category != blank -%}
              <a href="{{ blog_url }}/tagged/{{ tag_category | handle }}" class="sr4-post-text-color">{{ tag_category | remove: 'category_' | strip }}</a>
            {%- else -%}
              <a href="{{ blog_url }}" class="sr4-post-text-color">{{ blog.title }}</a>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="sr4-post-info">
      <div class="sr4-post-info-inner">
        <div class="sr4-post-metas">
          {% if show_au %}
            <span class="sr4-post-author">
              <span class="sr4-post-author__text sr4-dib">{{ by_txt }}</span>
              <span class="sr4-author-name">{{ post.author | replace_first: 'ad clnt', 'admin' }}</span>
            </span>
          {% endif %}
          {% if show_dt %}
            <span class="sr4-post-time">
              {%- if date contains "%" -%}
                {{ post.published_at | time_tag: date }}
              {%- else -%}
                <span>
                  <span class="sr4-post-time__text sr4-dib">{{ on_txt }}</span>
                  {{ post.published_at | time_tag: format: date }}</span>
              {%- endif -%}
            </span>
          {% endif %}
          {% if show_cm %}
            <span class="sr4-post-comment">{{ 'blogs.comments.with_count_html' | t: count: post.comments_count }}</span>
          {% endif %}
        </div>
        <h3 class="sr4-post-title">
          <a href="{{post.url}}" class="sr4-post-text-color">{{ post.title }}</a>
        </h3>
        {% if show_cnt %}
          <div class="sr4-post-content sr4-rte">
            {%- if post.excerpt.size > 0 -%}
              {{ post.excerpt }}
            {%- else -%}
              {{ post.content | strip_html | truncate: 118 }}{%- endif -%}
          </div>
        {% endif %}
        {% if show_rm %}
          <a href="{{post.url}}" class="sr4-post-readmore">{{ readmore_txt }}
            {% if show_irm %}
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="transparent"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1 12H15"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M12 8L16 12L12 16"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            {% endif %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</article>