{%- liquid
  assign pr_url = product.url
  assign placeholder_img = settings.placeholder_img
  assign image = product.featured_media | default: placeholder_img
-%}
<div class="sr4-row sr4-space-item-inner sr4-widget__pr">
  <div class="sr4-col-item sr4-col sr4-widget_img_pr">
    {%- if image != blank -%}
      <a
        class="sr4-d-block sr4-pr sr4-oh sr4_ratio sr4-bg-11"
        href="{{pr_url}}"
        style="background: url({{ image | image_url: width: 1 }});{{imgatt}}--aspect-ratioapt: {{image.aspect_ratio | default: 1}}">
        <img
          class="lazyloadsr4"
          data-src="{{ image | image_url: width: 1 }}"
          data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
          data-optimumx="2"
          data-sizes="auto"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          width="{{ image.width }}"
          height="{{ image.height }}"
          alt="{{ image.alt | escape }}">
      </a>
    {%- endif -%}
  </div>
  <div class="sr4-col-item sr4-col sr4-widget_if_pr">
    <a href="{{pr_url}}" class="sr4-d-block sr4-widget__pr-title">{{ product.title }}</a>
    {%- render 'product-price'
      , class_price: 'sr4-widget__pr-price'
      , product: product
      , price_varies_style: price_varies_style
      , type: 'card'
      , isGrouped: false -%}
  </div>
</div>