{%- liquid
  assign pr_url = product.url
  assign pid = product.id
  assign isDefault = product.has_only_default_variant
  assign pr_variants = product.variants
  assign current_variant = pr_variants.first
  assign isPreoder = false

  if product.tags contains 'isPreoder' or current_variant.inventory_policy == 'continue' and current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity <= 0
    assign isPreoder = true
  endif

  if current_variant.inventory_management == 'shopify'
    assign cur_qty = current_variant.inventory_quantity | default: 9999
  else
    assign cur_qty = 9999
  endif

  assign meta_theme = product.metafields.theme
  assign cus_qty = meta_theme.cus_qty | default: 1
  assign isExternal = false
  assign external_title = meta_theme.external_title
  assign external_link = meta_theme.external_link
  if external_title != blank and external_link != blank
    assign isExternal = true
  endif
  assign isGrouped = false
  if meta_theme.grouped != blank
    assign isGrouped = true
  endif

  assign custom_badge = meta_theme.custom_badge
  if custom_badge != blank
    assign arr_badge = custom_badge | replace: '  ', '' | replace: ' ;', ';' | replace: '; ', ';' | split: ';' | join: 'nt-sr4' | escape | split: 'nt-sr4'
    assign arr_badge_handle = arr_badge | join: 'nt-sr4' | handle | split: 'nt-sr4'
  else
    assign badge_tags = product.tags | where: "badge_"
    if badge_tags.size > 0
      assign arr_badge_tags = badge_tags | join: 'nt-sr4' | remove: 'badge_' | escape
      assign arr_badge = arr_badge_tags | split: 'nt-sr4'
      assign arr_badge_handle = arr_badge_tags | handle | split: 'nt-sr4'
    endif
  endif

  assign countdown = time_meta | default: meta_theme.countdown | date: '%Y/%m/%d %H:%M:%S'
  unless placeholder_img
    assign placeholder_img = settings.placeholder_img
  endunless
  assign image = product.featured_media | default: placeholder_img

  assign color_count = 0
  assign size_count = 0

  if isDefault == false and enable_pr_color or enable_pr_size
    assign pr_options = product.options_with_values

    assign img_variants = pr_variants | where: "featured_image"
    assign available_variants = product.variants | where: "available"
    for option in pr_options
      assign name = option.name | downcase

      if enable_pr_color and get_color contains name and color_count == 0

        assign pr_option_color = 'option' | append: forloop.index
        assign color_variants_avai = available_variants | map: pr_option_color | uniq
        assign featured_imgs = img_variants | map: 'featured_image'

        assign color_variants = option.values
        if show_cl_type == '1'
          assign color_count = color_variants.size
        else
          if pr_options.size == 1
            assign color_variants = color_variants_avai
          endif
          assign color_count = color_variants_avai.size
        endif


      elsif enable_pr_size and get_size contains name and size_count == 0

        assign pr_option_size = 'option' | append: forloop.index
        assign size_variants_avai = available_variants | map: pr_option_size | uniq
        assign size_variants = option.values
        if show_size_type == '1'
          assign size_count = size_variants.size
        else
          if pr_options.size == 1
            assign size_variants = size_variants_avai
          endif
          assign size_count = size_variants_avai.size
        endif

      endif

    endfor
  endif
-%}

<div class="sr4-product sr4-pr-grid sr4-pr-style2 sr4-pr-{{pid}} {{col}} sr4-col-item" data-product-options='{ "id":"{{pid}}","cusQty":"{{ cus_qty }}","available":{{product.available}}, "handle":"{{product.handle}}", "isDefault": {{isDefault}}, "VariantFirstID": {{current_variant.id}}, "customBadge":{{arr_badge | json }}, "customBadgeHandle":{{arr_badge_handle | json }},"dateStart":{{product.created_at | date: "%s"}}, "compare_at_price":{{current_variant.compare_at_price | json}},"price":{{current_variant.price| json}}, "isPreoder":{{isPreoder}},"isExternal":{{isExternal}}{% if isExternal %},"external_title":{{external_title| json}},"external_link":"{{external_link| escape}}"{% endif %},"image2":{% if product.media[1] != blank %}{{product.media[1] | image_url: width: 1 | json }},"alt":{{product.media[1].alt | escape | json }}{% else %}false{% endif %},"isGrouped":{{isGrouped}},"maxQuantity":{% if isDefault and isPreoder == false %}{{cur_qty}}{% else %}9999{% endif %} }'>
  <div class="sr4-product-wrapper">
    <div data-cacl-slide class="sr4-product-inner sr4-pr sr4-oh">
      {%- if image != blank %}
        {% render 'product-img'
          , image: image
          , imgatt: imgatt %}{% endif -%}
      <div
        data-product-badge
        data-sort="sale,new,soldout,preOrder,custom"
        class="sr4-product-badge"></div>
      <div class="sr4-product-btns {% case adb_style %}{% when '2' %}bottom_pr {% when '3' %}sticky_pr pr_atc {% when '4' %}khd_pr pr_atc{% endcase %}">
        {%- if show_sizes and show_sizes_hover -%}
          {%- if size_count > 0 %}
            {%- render 'product-size'
              , size_variants: size_variants
              , size_variants_avai: size_variants_avai
              , show_size_type: show_size_type -%}{% endif -%}
        {% endif %}


        {% case adb_style %}
          {% when '2' %}
            <a
              href="{{ pr_url }}"
              data-id="{{ pid }}"
              rel="nofollow"
              class="sr4-pr-item-btn sr4-pr-addtocart"
              data-action-quickview>
              <span class="sr4-md-none">
              <svg class=" " width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M18.0002 7H15.7502V5.75C15.7502 4.79 14.9702 4 14.0002 4H9.99023C9.03023 4 8.24023 
						4.78 8.24023 5.75V7H5.99023C4.89023 7 3.99023 7.89 3.99023 9V18C3.99023 19.1 4.88023 20 
						5.99023 20H17.9902C19.0902 20 19.9902 19.11 19.9902 18V9C19.9902 7.9 19.1002 7 17.9902 
						7H18.0002ZM9.75023 5.75C9.75023 5.61 9.86023 5.5 10.0002 5.5H14.0102C14.1502 5.5 14.2602 
						5.61 14.2602 5.75V7H9.76023V5.75H9.75023ZM18.5002 18.01C18.5002 18.28 18.2802 18.51 18.0002 
						18.51H6.00023C5.73023 18.51 5.50023 18.29 5.50023 18.01V9.01C5.50023 8.74 5.72023 8.51 6.00023 
						8.51H8.25023V10.01H9.75023V8.51H14.2502V10.01H15.7502V8.51H18.0002C18.2702 8.51 18.5002 8.73 
						18.5002 9.01V18.01Z" fill="var(--_g-icon-fill-color)"></path></svg></span>
              <span class="sr4-text-pr">Add to hover</span>
            </a>
          {% when '3' %}
            <a
              href="{{ pr_url }}"
              data-id="{{ pid }}"
              rel="nofollow"
              class="sr4-pr-item-btn sr4-pr-addtocart"
              data-action-quickview>
              <span class="sr4-text-pr">Add to sticky</span>
            </a>
          {% when '4' %}
            <a
              href="{{ pr_url }}"
              data-id="{{ pid }}"
              rel="nofollow"
              class="sr4-pr-item-btn sr4-pr-addtocart"
              data-action-quickview>

              <span class="sr4-text-pr">
                <svg
                  width="18"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.18516 14.125H4.30891C2.33064 14.125 0.636558 13.131 1.06764 10L1.7159 5.875C1.98163 4.31269 2.85754 3.8125 3.66065 3.8125H10.1432C10.9581 3.8125 11.7809 4.3577 12.0879 5.875L12.25 6.90625"
             
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M9.67188 11.7813H11.7813M11.7813 11.7813H13.8906M11.7813 11.7813V13.8906M11.7813 11.7813V9.67188"
                  
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.75 4.75V4.00001C4.75 2.39224 5.80255 1.00003 7.09375 1.00003C8.38557 0.993082 9.43192 2.39224 9.4375 4.00001V4.75"
              
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M9.4375 8.5H8.5"
                 
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M5.6875 8.5H4.75"
                 
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>


                <svg width="17" height="9" viewBox="0 0 21 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.62676 7H0.476758L2.95676 0.76H4.24676L6.71676 7H5.53676L4.91676 5.36H2.23676L1.62676 7ZM3.57676 1.76L2.56676 4.38H4.58676L3.57676 1.76ZM7.63465 7V0.76H9.94465C10.618 0.76 11.198 0.893333 11.6846 1.16C12.178 1.42 12.5513 1.78667 12.8046 2.26C13.058 2.72667 13.1846 3.26333 13.1846 3.87C13.1846 4.47667 13.0513 5.01667 12.7846 5.49C12.5246 5.96333 12.148 6.33333 11.6546 6.6C11.168 6.86667 10.598 7 9.94465 7H7.63465ZM9.93465 5.95C10.608 5.95 11.128 5.76667 11.4946 5.4C11.8613 5.03333 12.0446 4.52333 12.0446 3.87C12.0446 3.22333 11.8613 2.71667 11.4946 2.35C11.1346 1.98333 10.618 1.8 9.94465 1.8H8.76465V5.95H9.93465ZM14.5389 7V0.76H16.8489C17.5223 0.76 18.1023 0.893333 18.5889 1.16C19.0823 1.42 19.4556 1.78667 19.7089 2.26C19.9623 2.72667 20.0889 3.26333 20.0889 3.87C20.0889 4.47667 19.9556 5.01667 19.6889 5.49C19.4289 5.96333 19.0523 6.33333 18.5589 6.6C18.0723 6.86667 17.5023 7 16.8489 7H14.5389ZM16.8389 5.95C17.5123 5.95 18.0323 5.76667 18.3989 5.4C18.7656 5.03333 18.9489 4.52333 18.9489 3.87C18.9489 3.22333 18.7656 2.71667 18.3989 2.35C18.0389 1.98333 17.5223 1.8 16.8489 1.8H15.6689V5.95H16.8389Z" fill="#2D2B2A"></path></svg>
              </span>
            </a>
        {% endcase %}

      </div>
      <div class="sr4-product-btns2 {% case adb_style %}{% when '1' %}pr_icon {% when '2' %}pr_hovering {% endcase %}">
        {% if show_wishlist %}
          <div data-replace-wishlist></div>
        {% endif %}

        {% case adb_style %}
          {% when '1' %}
            <div data-replace-quickview></div>
        {% endcase %}
      </div>
      {%- if use_countdown and countdown != blank %}
        {%- render 'product-countdown'
          , countdown: countdown %}{% endif -%}
      <a
        data-pr-href
        class="sr4-full-width-link"
        href="{{pr_url}}"></a>
    </div>
    <div class="sr4-product-info">
      <div class="sr4-product-info__inner">
        <div class="{% case adb_style %}{% when '5' %}sr4-flex sr4-items-center {% else %}sr4-flex {% endcase %}  sr4-justify sr4-items-end sr4-md-inline">

      {% case adb_style %}{% when '5' %} <div>{% endcase %} 
        
          <div>
            {%- if product.vendor.size > 0 and show_vendor -%}
              {% if use_link_vendor %}
                {% assign pr_vendor_handle = product.vendor | handle %}{% assign collection_vendor = collections[pr_vendor_handle] %}{% endif %}
              <div class="sr4-product-vendor">
                <a href="{% if use_link_vendor and collection_vendor.url != blank %}{{ collection_vendor.url }}{% else %}{{ product.vendor | url_for_vendor }}{% endif %}">{{ product.vendor }}</a>
              </div>
            {%- endif -%}
            {%- if show_type -%}
              <div class="sr4-product-type">{{ product.type }}</div>
            {%- endif -%}
            <h3 class="sr4-product-title">
              <a data-pr-href href="{{pr_url}}">{{ product.title }}</a>
            </h3>
            {%- render 'product-price'
              , product: product
              , price_varies_style: price_varies_style
              , type: 'card'
              , isGrouped: isGrouped -%}
          </div>
          <div>
            {%- if color_count > 0 %}
              {% assign color_variants_str = color_variants | join: 'nt-sr4' %}<div class="sr4-product-colors" data-color-options='{ "color_count":{{color_count}}, "color_variants":{{color_variants_str | escape | split:'nt-sr4' | json}}, "color_variants_avai":{{color_variants_avai | join: 'nt-sr4' | escape | split: 'nt-sr4' | json}}, "color_variants_handle":{{color_variants_str | handle | split:'nt-sr4' | json}}, "img_variants":{{featured_imgs | json }}, "id_variants":{{img_variants  | map:'id' | json }}, "img_ratios":{{featured_imgs  | map:'aspect_ratio' | json }}, "img_options":{{img_variants  | map:pr_option_color | join: 'nt-sr4' | escape | split: 'nt-sr4' | json }} }'>
                <span class="sr4-pr-color__item">
                  <span class="sr4-pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="sr4-pr-color__item">
                  <span class="sr4-pr-color__value bg_color_ntloading"></span>
                </span>
                <span class="sr4-pr-color__item">
                  <span class="sr4-pr-color__value bg_color_ntloading"></span>
                </span>
              </div>
            {% endif -%}
          </div>

        {% case adb_style %}{% when '5' %} </div>{% endcase %} 


      
          {% case adb_style %}
          {% when '5' %}
        {%- if settings.enable_quickview %}
        {% comment %} <a data-id="{{pid}}" href="{{pr_url}}" data-tooltip rel="nofollow" class="sr4-pr-item-btn sr4-pr-quickview" data-action-quickview>
          <span class="sr4-svg-pr-icon">
            <svg viewBox="0 0 24 24"><use xlink:href="#sr4-icon-qv"></use></svg>
          </span> 
        <span class="sr4-text-pr">{{'products.product_card.quick_view' | t}}</span>
      </a> {% endcomment %}

<div class="at_info_pr">
      <a
      href="{{ pr_url }}"
      data-id="{{ pid }}"
      rel="nofollow"
      class="sr4-pr-item-btn sr4-pr-addtocart"
      data-action-quickview>
      <span class="sr4-md-none">
        <svg class=" " width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M18.0002 7H15.7502V5.75C15.7502 4.79 14.9702 4 14.0002 4H9.99023C9.03023 4 8.24023 
      4.78 8.24023 5.75V7H5.99023C4.89023 7 3.99023 7.89 3.99023 9V18C3.99023 19.1 4.88023 20 
      5.99023 20H17.9902C19.0902 20 19.9902 19.11 19.9902 18V9C19.9902 7.9 19.1002 7 17.9902 
      7H18.0002ZM9.75023 5.75C9.75023 5.61 9.86023 5.5 10.0002 5.5H14.0102C14.1502 5.5 14.2602 
      5.61 14.2602 5.75V7H9.76023V5.75H9.75023ZM18.5002 18.01C18.5002 18.28 18.2802 18.51 18.0002 
      18.51H6.00023C5.73023 18.51 5.50023 18.29 5.50023 18.01V9.01C5.50023 8.74 5.72023 8.51 6.00023 
      8.51H8.25023V10.01H9.75023V8.51H14.2502V10.01H15.7502V8.51H18.0002C18.2702 8.51 18.5002 8.73 
      18.5002 9.01V18.01Z" fill="var(--_g-icon-fill-color)"></path></svg></span>
      <span class="sr4-text-pr sr4-sx-none">Add to sticky</span>
    </a>
    </div>
    {% endif %}
        {% endcase %}
        </div>

        {%- if show_sizes and show_sizes_hover == false -%}
          {%- if size_count > 0 %}
            {%- render 'product-size'
              , size_variants: size_variants
              , size_variants_avai: size_variants_avai
              , show_size_type: show_size_type -%}{% endif -%}
        {% endif %}
      </div>
    </div>
  </div>
</div>