<span
  class="stamped-product-reviews-badge"
  data-product-sku="{{ product.handle }}"
  data-id="{{ product.id }}"
  data-product-type="{{product.type}}"
  data-product-title="{{product.title}}"
  style="display:block;"
>
  {{- product.metafields.stamped.badge -}}
</span>
