<!-- sections/accordion.liquid -->
{{ 'section.css' | asset_url | stylesheet_tag }}
{{ 'accordion.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign se_blocks = section.blocks
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if se_stts.layout == 'sr4-cus-width'
    assign html_layout = '<div class="sr4-container" style="--width:010693px">__</div>' | split:'__'
  elsif stt_layout == 'sr4-se-container' 
    assign html_layout = '<div class="sr4-container">__</div></div>' | split:'__'
  elsif stt_layout == 'sr4-container-wrap'
    assign html_layout = '<div class="sr4-container">__</div>' | split:'__'
  elsif stt_layout == 'sr4-site-wrapper'
    assign html_layout = '<div class="sr4-site-wrapper">__</div>' | split: '__'
  else
    assign html_layout = '__' | split:'__'
  endif
  assign search_url = routes.all_products_collection_url

  assign sr4_se_class = 'sr4_nt_se_' |append:sid
  if se_stts.use_cus_css and se_stts.code_cus_css != blank
    render 'se_cus_css',code_cus_css:se_stts.code_cus_css,sr4_se_class:sr4_se_class
  endif 
-%}
  <div class="sr4-section-inner sr4_nt_se_{{sid}} sr4_se_{{sid}} {{stt_layout}} {% if stt_image_bg != blank and stt_layout != 'sr4-se-container' %} sr4-has-imgbg lazyloadsr4 {% endif %} "  {% if stt_image_bg != blank and stt_layout != 'sr4-se-container' %}  data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2" {% endif %}   {% render 'section_style',se_stts:se_stts %}>
    {{- html_layout[0] |replace:'010693', se_stts.custom_width -}}
    {%- if stt_layout == 'sr4-se-container' -%}<div class="sr4-container-inner {% if stt_image_bg != blank %} sr4-has-imgbg lazyloadsr4 {% endif %} "  {%- if stt_image_bg != blank -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2" {%- endif -%} > {%- endif -%}
    <div class="sr4-accordion-style-{{ se_stts.accor_des }}">
      {%- render 'section_tophead',se_stts:se_stts -%}
      <div class="sr4-tabs sr4-type-accordion {{se_stts.content_align}}" data-sr4-tabs style="--title-cl: {{se_stts.title_cl}};--bg-title-cl: {{se_stts.bg_title_cl}};--title-active-cl: {{se_stts.title_active_cl}};--bg-title-active-cl: {{se_stts.bg_title_active_cl}};--content-cl: {{se_stts.content_cl}};--bg-content-cl: {{se_stts.bg_content_cl}};">
        {%- for block in se_blocks -%}
          {%- assign bk_stts = block.settings -%} 
          {%- assign blockid = block.id -%}
          <div class="sr4-tab-wrapper {% if forloop.first == true and se_stts.auto_active %} sr4-active {% endif %}" data-sr4-tab-wrapper {{block.shopify_attributes}}>
            <a id="b_{{block.id}}" class="sr4-accor-title" href="#sr4-{{blockid}}" rel="nofollow" data-sr4-tab-item data-no-instant>
              <span class="sr4-accor-text tab-title-{{ se_stts.accor_des }}">
                <span class="sr4-accor-icon">{%- render 'icon_accordion',icon:bk_stts.icon -%}</span>
                <span class="sr4-acc-tab_title">{{bk_stts.title}} </span>
              </span>
              <span class="sr4-accor-item-nav tab-icon-{{ se_stts.accor_des }}"></span>
            </a>
            <div id="sr4-{{blockid}}" class="sr4-tab-content sr4-rte" data-sr4-tab-content {% if se_stts.auto_active == false %} style="display: none;"{%- endif -%}>{{bk_stts.content}}</div>
          </div>
        {%- endfor -%}
      </div>
    </div>
    {{-html_layout[1]-}}
</div>
{%- schema -%}
  {
    "name": "Accordion",
    "tag": "section",
    "class": "sr4-section sr4-section-all sr4_tp_cdt sr4-accordion sr4_tp_tab",
    "settings": [
      {
          "type": "header",
          "content": "1. Heading options"
      },
      {
          "type": "select",
          "id": "design_heading",
          "label": "Heading design",
          "default": "2",
          "options": [
              {
                  "value": "1",
                  "label": "Design 01"
              },
              {
                  "value": "2",
                  "label": "Design 02"
              },
              {
                  "value": "3",
                  "label": "Design 03"
              }
          ]
      },
      {
          "type": "select",
          "id": "heading_align",
          "label": "Heading align",
          "default": "sr4-text-center",
          "options": [
              {
                  "value": "sr4-text-start",
                  "label": "Left"
              },
              {
                  "value": "sr4-text-center",
                  "label": "Center"
              },
              {
                  "value": "sr4-text-end",
                  "label": "Right"
              }
          ]
      },
      {
          "type": "text",
          "id": "top_heading",
          "label": "Heading",
          "default": "Collapsible Tab"
      },
      {
          "type": "textarea",
          "id": "top_subheading",
          "label": "Subheading",
          "default": "Lorem ipsum dolor sit amet. Ut ullam ratione ex nisi corrupti est nihil rerum."
      }, 
      {
        "type": "number",
        "id": "tophead_mb",
        "label": "Space bottom between heading and content (px)",
        "default": 20
      },
      {
        "type": "header",
        "content": "2. General options"
      },
      {
        "type": "select",
        "id": "accor_des",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          }
        ],
        "label": "Accordion design",
        "default": "2"
      },
      {
        "type": "color",
        "id": "title_cl",
        "label": "Accordion label color",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "bg_title_cl",
        "label": "Accordion label background color",
        "default": "#f8fafc"
      },
      {
        "type": "color",
        "id": "title_active_cl",
        "label": "Accordion label active color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "bg_title_active_cl",
        "label": "Accordion label active background color",
        "default": "#f8fafc"
      },
      {
        "type": "color",
        "id": "content_cl",
        "label": "Accordion content color",
        "default": "#878787"
      },
      {
        "type": "color",
        "id": "bg_content_cl",
        "label": "Accordion content background color",
        "default": "#fff"
      },
      {
        "type": "select",
        "id": "content_align",
        "label": "Accordion content align",
        "default": "sr4-text-start",
        "options": [
          {
            "value": "sr4-text-start",
            "label": "Left"
          },
          {
            "value": "sr4-text-center",
            "label": "Center"
          },
          {
            "value": "sr4-text-end",
            "label": "Right"
          }
        ]
      },
      {
          "type": "checkbox",
          "id": "auto_active",
          "label": "Auto active 1 items",
          "default": true
      },
      {
        "type": "header",
        "content": "3. Design options"
      },
      {
        "type": "select","id": "layout","default": "sr4-site-wrapper","label": "Layout",
        "options": [
            { "value": "sr4-cus-width", "label": "Custom width"},
            { "value": "sr4-se-container", "label": "Container"},
            { "value": "sr4-container-wrap", "label": "Wrapped container"},
            { "value": "sr4-container-fluid", "label": "Full width"},
            { "value": "sr4-site-wrapper", "label": "Full width with wrapped"}
        ]
      },
      {
         "type": "range",
         "id": "custom_width",
         "label": "Custom width for content",
         "info": "Only working when use layout custom width",
         "default": 1000,
         "min": 500,
         "max": 1000,
         "step": 10,
         "unit": "px"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background"
      },
      {
        "type": "color_background",
        "id": "cl_bg_gradient",
        "label": "Background gradient"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background image"
      },
      {
          "type": "header",
          "content": "Desktop"
      },
      {
          "type": "text",
          "id": "mg",
          "label": "Margin",
          "info":"trbl",
          "default": ",,50px,",
          "placeholder": ",,50px,"
      },
      {
          "type": "text",
          "id": "pd",
          "label": "Padding",
          "placeholder": "50px,,50px,"
      },
      {
        "type": "header",
        "content": "Tablet"
      },
      {
          "type": "text",
          "id": "mg_tb",
          "label": "Margin",
          "placeholder": ",,40px,"
      },
      {
          "type": "text",
          "id": "pd_tb",
          "label": "Padding",
          "placeholder": ",,40px,"
      }, 
      {
        "type": "header",
        "content": "Mobile"
      },
      {
          "type": "text",
          "id": "mg_mb",
          "label": "Margin",
          "default": ",,30px,",
          "placeholder": ",,30px,"
      },
      {
          "type": "text",
          "id": "pd_mb",
          "label": "Padding",
          "placeholder": ",,30px,"
      },
      {
        "type": "header",
        "content": "4. Personalized css"
      },
      {
        "id": "use_cus_css",
        "type": "checkbox",
        "label": "Use custom styling",
        "default":false,
        "info": "If you prefer custom styling for this section."
      },
      { 
        "id": "code_cus_css",
        "type": "textarea",
        "label": "Code custom css"
      }
    ],
    "blocks": [
      {
        "type": "accor_item",
        "name": "Accordion item",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Accordion icon",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "check_mark",
                "label": "Check mark"
              },
              {
                "value": "dryer",
                "label": "Dryer"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "silhouette",
                "label": "Silhouette"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Accordion label",
            "default": "Tab item"
          },
          {
            "id": "content",
            "type": "richtext",
            "label": "Accordion content"
          }
        ]
      }
    ],
  "presets": [
      {
        "name": "Accordion",
        "blocks": [
          { "type": "accor_item",
            "settings": {
              "title": "Tab 1",
              "content": "<p>Lorem ipsum dolor sit amet. Ut quisquam quia qui debitis sapiente sit ipsam delectus.</p>"
            }
          },
          { "type": "accor_item",
            "settings": {
              "title": "Tab 2",
              "content": "<p>Lorem ipsum dolor sit amet. Ut quisquam quia qui debitis sapiente sit ipsam delectus.</p>"
            }
          },
          { "type": "accor_item",
            "settings": {
              "title": "Tab 3",
              "content": "<p>Lorem ipsum dolor sit amet. Ut quisquam quia qui debitis sapiente sit ipsam delectus.</p>"
            }
          }
        ]
      }
    ]
  }
{%- endschema -%}

{%- javascript -%}
{%- endjavascript -%}