{{ 'before-after.css' | asset_url | stylesheet_tag }}
<script src="{{ 'before_after.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign stt_layout = se_stts.layout
  assign stt_image_bg = se_stts.image_bg
  if stt_layout == 'sr4-se-container'
    assign html_layout = '<div class="sr4-container">__</div></div>' | split: '__'
  elsif stt_layout == 'sr4-container-wrap'
    assign html_layout = '<div class="sr4-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
%}

<div
  class="sr4-section-inner {{sr4_se_class}} sr4_nt_se_{{sid}} {{stt_layout}}{% if stt_image_bg != blank and stt_layout != 'sr4-se-container' %} sr4-has-imgbg lazyloadsr4{% endif %}"
  {% if stt_image_bg != blank and stt_layout != 'sr4-se-container' %}
    data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto" data-optimumx="2"
  {% endif %}
  {% render 'section_style', se_stts: se_stts -%}
>
  {{- html_layout[0] -}}
  <div
    class="sr4-container-inner{% if stt_image_bg != blank %} sr4-has-imgbg lazyloadsr4{% endif %}"
    {% if stt_image_bg != blank %}
      data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto" data-optimumx="2"
    {% endif %}
  >
    {%- render 'section_tophead', se_stts: se_stts -%}

    <div class="before-after-wrapper">
      <div class="before-after-container">
        <div class="ba-slider">
          {% if se_stts.before_image %}
            <img class="ba-before" src="{{ se_stts.before_image | image_url: width: 500 }}" alt="Before">
          {% else %}
            <img
              class="ba-before"
              src="{{ 'dummy.png' | asset_img_url: 'master' }}"
              alt="Dummy image"
              width="500"
              height="500"
            >
          {% endif %}

          {% if se_stts.after_image %}
            <img class="ba-after" src="{{ se_stts.after_image | image_url: width: 500 }}" alt="After">
          {% else %}
            <img
              class="ba-after"
              src="{{ 'dummy.png' | asset_img_url: 'master' }}"
              alt="Dummy image"
              width="500"
              height="500"
            >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {{- html_layout[1] -}}
</div>
{% schema %}
{
  "name": "Before & After Image",
  "tag": "section",
  "class": "sr4-section",
  "settings": [
    {
      "type": "header",
      "content": "1. Heading options"
    },
    {
      "type": "select",
      "id": "design_heading",
      "label": "+ Design heading",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Design 01"
        },
        {
          "value": "2",
          "label": "Design 02"
        },
        {
          "value": "3",
          "label": "Design 03"
        },
        {
          "value": "4",
          "label": "Design 04"
        },
        {
          "value": "5",
          "label": "Design 05"
        },
        {
          "value": "6",
          "label": "Design 06 (width line-awesome)"
        },
        {
          "value": "7",
          "label": "Design 07"
        },
        {
          "value": "8",
          "label": "Design 08"
        },
        {
          "value": "9",
          "label": "Design 09"
        },
        {
          "value": "10",
          "label": "Design 10"
        },
        {
          "value": "11",
          "label": "Design 11"
        },
        {
          "value": "12",
          "label": "Design 12"
        },
        {
          "value": "13",
          "label": "Design 13"
        },
        {
          "value": "14",
          "label": "Design 14"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "+ Heading align",
      "default": "sr4-text-center",
      "options": [
        {
          "value": "sr4-text-start",
          "label": "Left"
        },
        {
          "value": "sr4-text-center",
          "label": "Center"
        },
        {
          "value": "sr4-text-end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "top_heading",
      "label": "+ Heading",
      "default": "BEFORE/AFTER"
    },
    {
      "type": "number",
      "id": "tophead_mb",
      "label": "+ Space bottom (px)",
      "info": "The vertical spacing between heading and content.",
      "default": 30
    },
    {
      "type": "header",
      "content": "2. Choose images"
    },
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "Before Image"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "After Image"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "sr4-container-wrap",
      "label": "Layout",
      "options": [
        { "value": "sr4-se-container", "label": "Container" },
        { "value": "sr4-container-wrap", "label": "Wrapped container" },
        { "value": "sr4-container-fluid", "label": "Full width" }
      ]
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info": "Margin top, margin right, margin bottom, margin left. If you not use to blank",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info": "Padding top, padding right, padding bottom, padding left. If you not use to blank",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design Tablet Options"
    },
    {
      "type": "text",
      "id": "mg_tb",
      "label": "Margin",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_tb",
      "label": "Padding",
      "placeholder": ",,50px,"
    },
    {
      "type": "header",
      "content": "+ Design mobile options"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin",
      "default": ",,30px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding",
      "placeholder": ",,50px,"
    }
  ],
  "presets": [
    {
      "name": "Before & After Image",
      "category": "Media"
    }
  ]
}
{% endschema %}
