{%- liquid
  assign results_count = search.results_count
  assign collection = collections[settings.search_prs_suggest]
  assign limit = 5
  assign show_search_suggest = settings.show_search_suggest
  assign on_sale_txt = 'products.product.on_sale' | t
  assign save_js = 'products.product.save_js' | t: saved_amount: 'saved_amount'
  if shop.types.size < 3
    assign shop_types = shop.types | join: ' ' | remove: ' '
  else
    assign shop_types = 'type_the4'
  endif
  if settings.within_cat and collection
    assign isHasCollection = true
  else
    assign isHasCollection = false
  endif
  assign placeholder_img = settings.placeholder_img
  assign price_varies_style = settings.price_varies_style

  assign search_terms = search.terms | sort_by: 'created_at'
  assign key_terms = search_terms
  if search_terms contains 'product_type:'
    assign arr_terms = search_terms | remove: 'product_type:' | replace_first: ' AND', ' AND ' | replace_first: '  ', ' ' | split: ' AND '
    assign product_type = arr_terms[0] | strip
    assign search_terms = arr_terms[1] | strip
    if search_terms == blank
      assign key_terms = key_terms | remove: ' AND '
      assign search_terms = product_type
    endif
  endif
-%}

{%- if request.design_mode -%}
  <link
    rel="stylesheet"
    href="{{ 'search-hidden.css' | asset_url }}"
    media="all"
  >
{%- endif -%}
<div class="sr4-drawer__header">
  <span class="is--login" aria-hidden="false">{{ 'search.general.title' | t }}</span>
  <button
    class="sr4-drawer__close"
    data-drawer-close
    aria-label="{{ 'search.general.close_search' | t }}"
  >
    <svg
      class="sr4-iconsvg-close"
      role="presentation"
      viewBox="0 0 16 14"
    >
      <path
        d="M15 0L1 14m14 0L1 0"
        stroke="currentColor"
        fill="none"
        fill-rule="evenodd"></path>
    </svg>
  </button>
</div>
<form
  data-frm-search
  action="{{ routes.search_url }}"
  method="get"
  class="sr4-mini-search__frm sr4-pr"
  role="search"
>
  <input
    type="hidden"
    name="type"
    value="product"
  >
  <input
    type="hidden"
    name="options[unavailable_products]"
    value="{{settings.unavailable_prs}}"
  >
  <input
    type="hidden"
    name="options[prefix]"
    value="last"
  >

  {%- if settings.filter_type_search and shop_types != blank -%}
    <div data-cat-search class="sr4-mini-search__cat">
      <select data-name="product_type">
        <option value="*">{{ 'search.general.all_categories' | t }}</option>
        {%- for product_type in shop.types -%}
          {%- if product_type == blank %}
            {% continue -%}
          {% endif -%}
          <option value="{{product_type}}">{{ product_type }}</option>
        {%- endfor -%}
      </select>
    </div>
  {%- endif -%}
  <div class="sr4-mini-search__btns sr4-pr sr4-oh">
    <input
      data-input-search
      class="sr4-mini-search__input"
      autocomplete="off"
      type="text"
      name="q"
      placeholder="{{ 'search.general.placeholder' | t }}"
    >
    <button
      data-submit-search
      class="sr4-mini-search__submit sr4-btn-loading__svg{% if settings.ajax_search %} sr4-pe-none{% endif %}"
      type="submit"
    >
      {% comment %}
        <svg
          class="sr4-btn-op0"
          viewBox="0 0 18 19"
          width="16">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
            fill="currentColor"></path>
        </svg>
      {% endcomment %}
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11.4261" cy="11.4261" r="8.42609" stroke="#2D2B2A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
        <path d="M17.0435 18.0259L20.0174 20.9998" stroke="#2D2B2A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <div class="sr4-loading__spinner sr4-dn">
        <svg
          width="16"
          height="16"
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="sr4-svg__spinner"
          viewBox="0 0 66 66"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            class="sr4-path"
            fill="none"
            stroke-width="6"
            cx="33"
            cy="33"
            r="30"></circle>
        </svg>
      </div>
    </button>
  </div>

  {%- assign list_hotkey = settings.list_hotkey -%}
  {%- if settings.show_search_hotkey and list_hotkey != blank -%}
    {%- capture link_suggest -%}
     {{ routes.search_url }}?type=product&options%5Bunavailable_products%5D={{settings.unavailable_prs}}&options%5Bprefix%5D=last&q=
     {%- endcapture -%}
    {%- assign arr_keys = list_hotkey | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}
    {%- assign arr_keys2 = arr_keys | join: ',|nt' | split: '|nt' -%}

    <div data-listKey class="sr4-mini-search__keys">
      <span class="sr4-mini-search__label">{{ 'search.general.quick_search' | t }}</span>
      <ul class="sr4-mini-search__listKey sr4-d-inline-block">
        {%- for key in arr_keys %}
          {% assign key_strip = key | strip -%}
          <li class="sr4-d-inline-block">
            <a data-key="{{key_strip | escape }}" href="{{link_suggest}}{{key | strip | url_encode }}">
              {{- arr_keys2[forloop.index0] -}}
            </a>
          </li>
        {% endfor -%}
      </ul>
    </div>
  {%- endif -%}
</form>
{%- if results_count > 1 -%}
  <div data-title-search class="sr4-mini-search__title">{{ 'search.general.heading.other' | t }}</div>
{%- elsif results_count == 1 or results_count == 0 -%}
  <div data-title-search class="sr4-mini-search__title">{{ 'search.general.heading.one' | t }}</div>
{%- elsif predictive_search == blank and collection != blank and show_search_suggest -%}
  <div data-title-search class="sr4-mini-search__title">{{ 'search.general.suggest' | t }}</div>
{%- else -%}
  <div
    data-title-search
    class="sr4-mini-search__title"
    style="display:none"
  ></div>
{%- endif -%}
<div class="sr4-drawer__content">
  <div class="sr4-drawer__main">
    <div data-sr4-scroll-me class="sr4-drawer__scroll sr4-current-scrollbar">
      <div data-skeleton-search class="sr4-skeleton_wrap sr4-dn">
        {%- for i in (1..4) -%}
          <div class="sr4-row sr4-space-item-inner">
            <div class="sr4-col-auto sr4-col-item sr4-widget_img_pr">
              <div class="sr4-skeleton_img"></div>
            </div>
            <div class="sr4-col sr4-col-item sr4-widget_if_pr">
              <div class="sr4-skeleton_txt1"></div>
              <div class="sr4-skeleton_txt2"></div>
            </div>
          </div>
        {%- endfor -%}
      </div>
      <div data-results-search class="sr4-mini-search__content sr4_ratioadapt">
        {%- if results_count == 0 -%}
          {{ 'search.general.no_product_results' | t }}
        {%- elsif results_count > 0 -%}
          {%- for product in search.results limit: limit -%}
            {%- render 'pr-sidebar-loop',
              imgatt: '',
              product: product,
              pr_url: product.url,
              placeholder_img: placeholder_img,
              price_varies_style: price_varies_style
            -%}
          {%- endfor -%}

        {%- elsif predictive_search == blank and collection != blank and show_search_suggest -%}
          {%- for product in collection.products limit: limit -%}
            {%- render 'pr-sidebar-loop',
              imgatt: '',
              product: product,
              pr_url: product.url,
              placeholder_img: placeholder_img,
              price_varies_style: price_varies_style
            -%}
          {%- endfor -%}
        {%- endif -%}
        {%- unless settings.only_search_prs %}
          <div
            class="sr4-results-others sr4_ratioadapt lazyloadsr4"
            data-rendersr4="{{ routes.search_url }}?q={{search.terms| url_encode}}&type=article,page&section_id=search-others"
          ></div>
        {% endunless -%}
      </div>
    </div>
  </div>
  {%- if results_count >= 0 -%}
    <div data-viewAll-search class="sr4-drawer__bottom">
      <a
        href="{{ routes.search_url }}?type=product&options%5Bunavailable_products%5D={{settings.unavailable_prs}}&options%5Bprefix%5D=last&q={{key_terms | url_escape}}"
        class="sr4-mini-search__viewAll sr4-d-block"
        tabindex="-1"
      >
        {{- 'search.search_for' | t: terms: search_terms }}
        <svg
          width="16"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
        >
          <path d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z" />
        </svg>
      </a>
    </div>
  {%- elsif collection != blank -%}
    {%- if collection.all_products_count > limit -%}
      <div data-viewAll-search class="sr4-drawer__bottom">
        <a href="{{collection.url}}" class="sr4-mini-search__viewAll sr4-d-block">
          {{- 'search.pagination.view_all' | t }}
          <svg
            width="16"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
          >
            <path d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z" />
          </svg>
        </a>
      </div>
    {%- endif -%}
  {%- else -%}
    <div
      data-viewAll-search
      class="sr4-drawer__bottom"
      style="display:none"
    ></div>
  {%- endif -%}
</div>
